.apartments-container {
    float: left;
    padding: 80px;
    text-align: left;
}

.apartments-container h2 {
    font-weight: lighter;
}

.apartmentitems_selectbox {
    display: block;
    z-index: 1;
    border: 0;
    background-color: #003C69;
    background-image: url("/images/BlueBannerImage.png");
    background-repeat: repeat;
    color: white;
    height: 48px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 300px) { 
    .apartments-container {
        padding: 10px;
    }
}

@media screen and (min-width: 300px) {
    .apartments-container {
        padding: 10px;
    }
}

@media screen and (min-width: 320px) {
    /*Any Screen Width Size Starting from 320 Pixels for Small Screens Like (iphone5-portrait, android-portrait, etc)*/
    
}

@media screen and (min-width: 375px) {
    /*Any Screen Width Size Starting from 375 Pixels for Medium Screens Like (iphone6-portrait, android-portrait, etc)*/
    .apartments-container {
        padding: 20px;
    }
}

@media screen and (min-width: 414px) {
    /*Any Screen Width Size Starting from 425 Pixels for Large Screens Like (iphone6plus-portrait, android-portrait, etc)*/
    .apartments-container {
        padding: 40px;
    }
}

@media screen and (min-width: 425px) {
    /*Any Screen Width Size Starting from 425 Pixels for Large Screens Like (iphone6plus-portrait, android-portrait, etc)*/
}

@media screen and (min-width: 480px) {
    /*Any Screen Width Size Starting from 480 Pixels for Small Screens in Landscape Mode Like (iphone5-portrait, android-portrait, etc)*/
    
}

@media screen and (min-width: 640px) {


}

@media screen and (min-width: 690px) {
    .apartmentitems_selectbox {
        display: none;

    }
}

@media screen and (min-width: 720px) {

}

@media screen and (min-width: 768px) {
    /*Any Screen Width Size Starting from 768 Pixels for Table Screens in Portrait Mode Like iPad*/
}

@media screen and (min-width: 813px) {
    /*Any Screen Width Size Starting from 880 Pixels*/
}

@media screen and (min-width: 880px) {
    /*Any Screen Width Size Starting from 880 Pixels*/
}

@media screen and (min-width: 960px) {
    /*Any Screen Width Size Starting from 960 Pixels*/
}

@media screen and (min-width: 1024px) {
    /*Any Screen Width Size Starting from 1024 Pixels for Small Desktop Screens and Tables in Landscape Mode Like iPad*/
    .apartments-container {
        padding: 80px;
    }
}

@media screen and (min-width: 1280px){

}

@media screen and (min-width: 1440px) {
    /*Any Screen Width Size Starting from 1440 Pixels for Medium Desktop Screens*/

}

@media screen and (min-width: 1600px){

}


@media screen and (min-width: 1920px) {
    /*Any Screen Width Size Starting from 1920 Pixels for Large Desktop Screens that are 1080p or over*/
}