.location-container {
    position: relative;    
    width: 100%;
    height: 568px;
    padding-bottom: 72px;
}

.location-description {
    padding: 80px;
    width: 40%;
    text-align: left;
    float: left;
}

.location-description h2 {
    font-weight: lighter;
}

.location-mapview {
    width: 60%;
    float: right;
    background-color: gray;
}

.map {
    width: auto;
    height: 100% !important;
}

.location-description, .location-mapview {
    display: inline-block;
}

.location-description button {
    width: 120px;
    height: 32px;
    margin-top: 10px;
    float: left;
    background-color: #B8273E;
    color: white;
    border: 0;
    font-size: 12px;
}

.location-description button:hover {
    background-color: #711321;
    color: white;

}

.location-description button:active {
    background-color: transparent;
    color: #B8273E;
    border: 2px solid #B8273E;
    font-weight: bold;
}

@media screen and (max-width: 300px) { 
    .location-description {
        padding: 20px;
    }
}

@media screen and (min-width: 300px) {
    .location-description {
        padding: 20px;
    }

    .location-container {
        height: calc(568px * 2);
        padding-bottom: 230px;
    }

    .location-description, .location-mapview {
        display: block;
        float: left;
    }
}

@media screen and (min-width: 320px) {
    /*Any Screen Width Size Starting from 320 Pixels for Small Screens Like (iphone5-portrait, android-portrait, etc)*/

    .location-container {
        height: calc(568px * 2);
        padding-bottom: 230px;
    }

    .location-description, .location-mapview {
        display: block;
        float: left;
        width: 100%;
        height: 50%;
    }
}

@media screen and (min-width: 375px) {
    /*Any Screen Width Size Starting from 375 Pixels for Medium Screens Like (iphone6-portrait, android-portrait, etc)*/
    .location-description {
        padding: 40px;
    }
}

@media screen and (min-width: 425px) {
    /*Any Screen Width Size Starting from 425 Pixels for Large Screens Like (iphone6plus-portrait, android-portrait, etc)*/
    .location-description {
        padding: 60px;
    }
}

@media screen and (min-width: 480px) {
    /*Any Screen Width Size Starting from 480 Pixels for Small Screens in Landscape Mode Like (iphone5-portrait, android-portrait, etc)*/
    .location-description {
        padding: 70px;
    }
}

@media screen and (min-width: 640px) {
    .location-description {
        padding: 80px;
    }
}

@media screen and (min-width: 720px) {
    
}

@media screen and (min-width: 768px) {
    /*Any Screen Width Size Starting from 768 Pixels for Table Screens in Portrait Mode Like iPad*/

}

@media screen and (min-width: 813px) {
    /*Any Screen Width Size Starting from 880 Pixels*/
    .location-description, .location-mapview {
        width: 50%;
        height: 100%;
    }

    .map {
        width: auto;
        height: 338px !important;
    }

    .location-description {
        padding: 20px;
    }

    .location-container {
        position: relative;    
        width: 100%;
        height: 568px;
        padding-bottom: 230px;
    }
}

@media screen and (min-width: 824px) {
    .location-description {
        padding: 60px;
    }

    .map {
        width: auto;
        height: 498px !important;
    }
}

@media screen and (min-width: 880px) {
    /*Any Screen Width Size Starting from 880 Pixels*/
    .location-description {
        padding: 50px;
        width: 40%;
    }
    
    .location-mapview {
        width: 60%;
    }
}

@media screen and (min-width: 960px) {
    /*Any Screen Width Size Starting from 960 Pixels*/
}

@media screen and (min-width: 1024px) {
    /*Any Screen Width Size Starting from 1024 Pixels for Small Desktop Screens and Tables in Landscape Mode Like iPad*/
    .location-description {
        padding: 50px;
    }
}

@media screen and (min-width: 1280px){
    .location-description {
        padding: 60px;
    }
}

@media screen and (min-width: 1440px) {
    /*Any Screen Width Size Starting from 1440 Pixels for Medium Desktop Screens*/
    .location-description {
        padding: 80px;
    }
}

@media screen and (min-width: 1600px){

}


@media screen and (min-width: 1920px) {
    /*Any Screen Width Size Starting from 1920 Pixels for Large Desktop Screens that are 1080p or over*/
}