html {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    /*background-color: rgb(80, 45, 28);*/
    background-image: url("/images/BackgroundImage_WoodTexture.png");
    background-repeat: repeat;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    text-transform: uppercase;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*DROPDOWN MENU BUTTON STYLE*/

/* The container <div> - needed to position the dropdown content */
.navbarmenuitem-dropdown {
    display: inline-block;
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color:  #00579A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #00579A; color: white;}

/* Show the dropdown menu on hover */
.navbarmenuitem-dropdown:hover .dropdown-content {
    display: block;
}

/*END OF DROPDOWN BOX STYLE*/

/*BASE LAYOUT STYLE*/

#app {
    min-height: 100%;
    position: relative;
}

.appView {
    height: 5037px;
}

.backgroundHeaderImage {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.backgroundView {
    width: 100%;
    height: 100%;
}

.wrapper {
    top:0;
}

.wrapper, .footercontent {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 70%;
}

.hyperlink {
    color: #B8273E;
}

.navbar {
    width: 80%;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.navbarContent {
    height: 80px;
    text-align: right;
    vertical-align: middle;
    box-shadow: 0px 0px 25px;
    background-color: white;
}

.navbarSocialContent {
    display: block;
    height: 30px;
    top: 0;
    padding-right: 30px;
}

.navbarContent, .navbarSocialContent {
    display: block;
    width: 100%;
}

.navbarBadgeLogo {
    margin-top: -50px;
    margin-left: auto;
    top:0;
    float: left;
    transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -webkit-filter: drop-shadow(0px 0px 5px #222);
    filter: drop-shadow(0px 0px 5px #222);
}

.navbaritem {
    display: inline-block;
    width: 95px;
    font-size: 12px;
    font-weight: bold;
}

.navbaritem, .navbariconitem{
    margin-right: 0px;
}

.navbaritem, .navbariconitem, .navbarcaladaritem, .navbarmenuitembtn, .navbarsocialitem{
    height: 100%;
}

.navbaritem, .navbariconitem, .navbarcaladaritem, .navbarmenuitembtn, .navbarsocialitem, .footerbarsocialitem {
    color: #00579A;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
}

.navbariconitem {
    width: 48px;
}

.navbarcaladaritem, .navbarmenuitembtn{
    background-image: url("/images/BlueBannerImage.png");
    background-repeat: repeat;
}

.navbarcaladaritem {
    width: 80px;
}

.navbarmenuitembtn {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.navbarsocialitem {
    float: right;
    width: 40px; 
    top: 0;
}

.footerbarsocialitem {
    width: 40px;
    height: 40px;
    float: right;
}

.navbaritem:hover, .navbariconitem:hover {
    background-color: lightblue;
    border: 0;
}

.navbaritem:active, .navbariconitem:active{
    background-color: #00579A;
    color: white;
    border: 0;
}

.navbarcaladaritem:hover, .navbarmenuitembtn:hover {
    background-image: url("/images/BlueBannerImage_hover.png");
    background-repeat: repeat;
    order: 0;
}

.navbarcaladaritem:active, .navbarmenuitembtn:active {
    background-image: url("/images/BlueBannerImage_active.png");
    background-repeat: repeat;
    order: 0;
}

.navbarsocialitem:hover, .footerbarsocialitem:hover {
    background-color: rgba(255, 255, 255, 0.55);
    border: 0;
}

.navbarsocialitem:active, .footerbarsocialitem:active{
    background-color: rgba(0, 0, 0, 0.55);
    border: 0;
}

.navbaritemicon {
    width: 15px;
    height: auto;
    margin: auto;
}

.navbaritemcaladaricon, .navbaritemmenuicon {
    width: 20px;
    height: auto;
    margin: auto;
}

.footerbaritemsocialicon {
    width: auto;
    height: 20px;
    margin: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 306px;
    background-image: url("/images/FooterDarkGrayBackgroundTexture.png");
    background-repeat: repeat;
    color: white;
}

.footercontent {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    margin: 0px;
}

.footercontent-contactdetails-container {
    width: 100%;
    height: calc(100% - 48px);
    background-image: url("/images/FooterGrayBackgroundTexture.png");
    background-repeat: repeat;
}

.footercontent-contactdetails {
    height: 100%;
}

.footercontent-copyrightfooter {
    height: 41px;
    width: 100%;
    position: absolute; 
    bottom: 0;
}

.footercontent-copyrightleftcontent {
    float: left;
}

.footercontent-copyrightrightcontent {
    float: right;
}

.footercontent-copyrightleftcontent, .footercontent-copyrightrightcontent {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footercontent-copyrightleftcontent h6, .footercontent-copyrightrightcontent h6 {
    height: 40px; 
    margin: 0px;
    padding-top: 12px;
    color: #73787B
}

.footercontent-companyname {
    font-weight: bold;
}

.footercontent-contactdetails, .footercontent-copyrightfooter {
    width: 100%;
    margin-top: 0px;
}

.footerdetailheader {
    color: #73787B
}
    
.footercontent-socialdetails {
    float: right;
}

.footercontent-addressdetails, .footercontent-telandemaildetails {
    margin-right: 40px;
    float: left;
}
    
.footercontent-addressdetails, .footercontent-telandemaildetails, .footercontent-socialdetails {
    display: inline;
}
 
.footercontent-newsletter {
    width: 100%;
    height: 64px;
    border: 1px dotted #B8273E;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    text-align: center;
}

.footercontent-sociallinks {
    margin-top: 20px;
}

.newsletter-icon {
    margin-right: 10px !important;
}

.newsletter-icon, .newsletter-title {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.headerCarousel {
    text-align: center;
    width: 100%;
    height: 360px;
    margin-bottom: 80px;
}

.contentBody {
    height: 812px;
    box-shadow: 0px 0px 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.contentBody, .headerCarousel {
    display: block;
    position: relative;
} 

.filterbar {
    background-image: url("/images/BlueBannerImage.png");
    background-repeat: repeat;
    color: white;
}

.filterbarContent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-top: 5px;
}

.filterBarItems {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.filterSelectBox {
    border: 0;
    background-color: #003C69;
    color: white;
    height: 32px;
    width: 120px;
    text-align: center;
}

.filterButton {
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 32px;
    border: solid 2px white;
}

.filterButton:hover {
    background-color: rgba(255, 255, 255, 0.55);
    color: #003C69;
    border: solid 2px white;
}

.filterButton:active {
    background-color: rgba(255, 255, 255, 1.0);
    color: #005596;
    border: solid 2px white;
}

.topFilterBar {
    top: 0;
}

.bottomFilterBar {
    position: absolute;
    bottom: 0;
    left: 0;
}

.filterbar, .topFilterBar, .bottomFilterBar {
    width: 100%;
}

@media screen and (max-width: 300px) { 
    .backgroundHeaderImage {
        width: 100%;
        height: auto;
    }
    
    .contentBody, .navbar {
        width: 97%;
    }

    .footer, .footercontent {
        height: 560px;
    }

    .footercontent {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wrapper, .footercontent-contactdetails, .footercontent-copyrightfooter {
        width: 100%;
        text-align: center;
    }
    
    .footercontent-contactdetails, .footercontent-copyrightfooter {
        width: auto;
        text-align: center;
    }

    .footercontent-contactdetails-container {
        height: calc(100% - 48px);
        background-image: url("/images/FooterGrayBackgroundTexture.png");
        background-repeat: repeat;
    }

    .footercontent-addressdetails, .footercontent-telandemaildetails, .footercontent-socialdetails {
        display: block;
        margin-left: auto; 
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .footercontent-socialdetails {
        float: left;
    }

    .navbar {
        width: 90%;
        height: 60px;
    }
    
    .navbarContent {
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
    
    .navbarSocialContent {
        display: none;
    }

    .headerCarousel {
        text-align: center;
        width: 100%;
        height: 140px;
        margin-bottom: 20px;
    }

    .filterbar, .topFilterBar, .bottomFilterBar {
        height: 258px;
    }

    .filterBarItems {
        display: block;
        margin-left: auto; 
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .filterSelectBox, .filterButton {
        width: 90%;
    }

    .filterButton {
        margin-top: 15px;
    }

    .navbarmenuitem-dropdown {
        display: block;
        height: 100%;
        width: 48px;
        float: right;
    }

    .navbaritem, .navbariconitem, .navbarcaladaritem{
        display: none;
    }
}

@media screen and (min-width: 300px) {
    .backgroundHeaderImage {
        width: 100%;
        height: auto;
    }
    
    .contentBody, .navbar {
        width: 95%;
    }

    .wrapper, .footercontent-contactdetails{
        width: auto;
    }

    .wrapper, .footercontent-contactdetails, .footercontent-copyrightfooter {
        text-align: center;
    }

    .footercontent-contactdetails {
        margin-left: 10px;
        margin-right: 10px;
    }

    .footercontent-copyrightfooter {
        width: calc(100% - 40px);
    }

    .footercontent-contactdetails-container {
        height: 503px;
    }

    .footercontent-addressdetails, .footercontent-telandemaildetails, .footercontent-socialdetails {
        display: block;
        width: 100%;
    }

    .footercontent-socialdetails {
        float: left;
    }

    .footer, .footercontent {
        height: 560px;
    }

    .navbar {
        width: 80%;
        height: 60px;
    }
    
    .navbarContent {
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
    
    .navbarSocialContent {
        display: none;
    }

    .headerCarousel {
        text-align: center;
        width: 100%;
        height: 140px;
        margin-bottom: 20px;
    }

    .filterbar, .topFilterBar, .bottomFilterBar {
        height: 258px;
    }

    .filterBarItems {
        display: block;
        margin-left: auto; 
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .filterSelectBox, .filterButton {
        width: 80%;
    }

    .filterButton {
        margin-top: 15px;
    }

    .navbarmenuitem-dropdown {
        display: block;
        height: 100%;
        width: 48px;
        float: right;
    }

    .navbaritem, .navbariconitem, .navbarcaladaritem{
        display: none;
    }
}

@media screen and (min-width: 320px) {
    /*Any Screen Width Size Starting from 320 Pixels for Small Screens Like (iphone5-portrait, android-portrait, etc)*/
    .backgroundHeaderImage {
        width: 100%;
        height: auto;
    }
    
    .contentBody, .navbar {
        width: 95%;
    }

    .wrapper, .footercontent-contactdetails{
        width: auto;
    }

    .wrapper, .footercontent-contactdetails, .footercontent-copyrightfooter {
        text-align: center;
    }

    .footercontent-contactdetails, .footercontent-copyrightfooter {
        margin-left: 10px;
        margin-right: 10px;
    }

    .footercontent-addressdetails, .footercontent-telandemaildetails, .footercontent-socialdetails {
        margin-left: auto; 
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .footercontent-copyrightfooter {
        width: calc(100% - 20px);
    }

    .filterbar, .topFilterBar, .bottomFilterBar {
        height: 258px;
    }

    .filterBarItems {
        display: block;
        margin-left: auto; 
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .filterSelectBox, .filterButton {
        width: 80%;
    }

    .filterButton {
        margin-top: 15px;
    }
    
}

@media screen and (min-width: 375px) {
    /*Any Screen Width Size Starting from 375 Pixels for Medium Screens Like (iphone6-portrait, android-portrait, etc)*/
    .navbarmenuitem {
        width: 60px;
    }

    .footercontent-copyrightleftcontent {
        float: left;
    }
    
    .footercontent-copyrightrightcontent {
        float: right;
    }
}

@media screen and (min-width: 425px) {
    /*Any Screen Width Size Starting from 425 Pixels for Large Screens Like (iphone6plus-portrait, android-portrait, etc)*/
}

@media screen and (min-width: 480px) {
    /*Any Screen Width Size Starting from 480 Pixels for Small Screens in Landscape Mode Like (iphone5-portrait, android-portrait, etc)*/
}

@media screen and (min-width: 640px) {
    .filterbarContent {
        width: 95%;
    }

    .navbarmenuitem-dropdown {
        width: 70px;
    }
}

@media screen and (min-width: 720px) {

    .headerCarousel {
        text-align: center;
        width: 100%;
        height: 240px;
        margin-bottom: 30px;
    }

    .filterbar, .topFilterBar, .bottomFilterBar {
        height: 72px;
    }

    .filterBarItems {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }

    .filterSelectBox {
        width: 120px;
    }

    .filterButton {
        margin-top: 0px;
        width: auto;
    }

    .navbarmenuitem {
        width: 75px;
    }
}

@media screen and (min-width: 768px) {
    /*Any Screen Width Size Starting from 768 Pixels for Table Screens in Portrait Mode Like iPad*/
    .navbar {
        height: 130px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .navbarContent {
        width: 100%;
        height: 80px;
    }

    .headerCarousel {
        text-align: center;
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
    }

    .navbarmenuitem-dropdown {
        width: 80px;
    }
}

@media screen and (min-width: 813px) {
    /*Any Screen Width Size Starting from 880 Pixels*/
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 306px;
        background-image: url("/images/FooterDarkGrayBackgroundTexture.png");
        background-repeat: repeat;
        color: white;
    }
    
    .footercontent {
        position: relative;
        height: 100%;
        width: 100%;
        padding-top: 10px;
        margin: 0px;
    }
    
    .footercontent-contactdetails-container {
        width: 100%;
        height: calc(100% - 48px);
        background-image: url("/images/FooterGrayBackgroundTexture.png");
        background-repeat: repeat;
    }

    .footercontent-contactdetails {
        padding-top: 32px;
        text-align: left;
    }

    .footercontent-socialdetails {
        float: right;
        width:  300px;
    }

    .footercontent-addressdetails, .footercontent-telandemaildetails {
        margin-right: 10px;
        float: left;
    }

    .footercontent-newsletter {
        width: 100%;
        height: 72px;
    }

    .footercontent-addressdetails, .footercontent-telandemaildetails, .footercontent-socialdetails {
        display: block;
        width: auto;
    }

}

@media screen and (min-width: 880px) {
    /*Any Screen Width Size Starting from 880 Pixels*/
    .footercontent-contactdetails {
        padding-top: 32px;
    }
    .footercontent-socialdetails {
        float: right;
        width: auto;
    }

    .footercontent-newsletter {
        width: 100%;
        height: 64px;
    }

    .footercontent-addressdetails, .footercontent-telandemaildetails {
        margin-right: 40px;
        float: left;
    }

}

@media screen and (min-width: 960px) {
    /*Any Screen Width Size Starting from 960 Pixels*/
    .footercontent-contactdetails{
        width: auto;
    }

    .footercontent-contactdetails, .footercontent-copyrightfooter {
        margin-left: 40px;
        margin-right: 40px;
    }

    .footercontent-copyrightfooter {
        width: calc(100% - 80px);
    }
}

@media screen and (min-width: 1024px) {
    /*Any Screen Width Size Starting from 1024 Pixels for Small Desktop Screens and Tables in Landscape Mode Like iPad*/
    .contentBody, .navbar {
        width: 80%;
    }

    .headerCarousel {
        text-align: center;
        width: 100%;
        height: 260px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1280px){
    .navbarmenuitem-dropdown {
        display: none;
    }
    .navbaritem, .navbariconitem, .navbarcaladaritem{
        display: inline-block;
    }

    .navbarContent {
        margin-top: 0px;
    }

    .navbarSocialContent {
        display: block;
    }
    
    .footercontent-contactdetails, .footercontent-copyrightfooter {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .wrapper, .footercontent-contactdetails, .footercontent-copyrightfooter {
        width: calc(1440px * 0.8);
    }
}

@media screen and (min-width: 1440px) {
    /*Any Screen Width Size Starting from 1440 Pixels for Medium Desktop Screens*/
    .contentBody, .navbar {
        width: calc(1440px * 0.8);
    }
    
    .backgroundHeaderImage {
        margin-left: auto; 
        margin-right: auto;
        left: 0;
        right: 0;
        width: 1440px;
        height: auto;
        
    }

    .headerCarousel {
        text-align: center;
        margin-left: auto; 
        margin-right: auto;
        left: 0;
        right: 0;
        height: 360px;
        margin-bottom: 80px;
        padding-top: 90px;
        color: white;
    }

    .wrapper {
        width: 100%;
    }

    .footercontent-contactdetails, .footercontent-copyrightfooter {
        width: calc(1440px * 0.8);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 1600px){
    .contentBody, .navbar {
        width: calc(1440px * 0.8);
    }
}


@media screen and (min-width: 1920px) {
    /*Any Screen Width Size Starting from 1920 Pixels for Large Desktop Screens that are 1080p or over*/
}